//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 22 20:14:29 2016
//! **************************************************************************

SCHEMATIC START;
COMP "MOSI_p0_o" LOCATE = SITE "L7" LEVEL 1;
COMP "MOSI_p1_o" LOCATE = SITE "V12" LEVEL 1;
COMP "SS_p0_o" LOCATE = SITE "H3" LEVEL 1;
COMP "SS_p1_o" LOCATE = SITE "T12" LEVEL 1;
COMP "Green_o<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "Green_o<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "Green_o<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "HS_o" LOCATE = SITE "N6" LEVEL 1;
COMP "VS_o" LOCATE = SITE "P7" LEVEL 1;
COMP "button_restart_game_i" LOCATE = SITE "T9" LEVEL 1;
COMP "Red_o<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "Red_o<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "Red_o<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "rst_i" LOCATE = SITE "T10" LEVEL 1;
COMP "Blue_o<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "Blue_o<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "fpga_clk_i" LOCATE = SITE "V10" LEVEL 1;
COMP "MISO_p0_i" LOCATE = SITE "K6" LEVEL 1;
COMP "MISO_p1_i" LOCATE = SITE "N10" LEVEL 1;
COMP "SCLK_p0_o" LOCATE = SITE "G3" LEVEL 1;
COMP "SCLK_p1_o" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

